@import "./color.css";

.card {
  display: flex;
  width: 684px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 16px;
  background: var(--grayScale10);
  box-shadow: 0px 4px 4px 0px rgba(140, 140, 140, 0.25);
}

.frame {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

.badge {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--brown40);
  border-radius: 8px;
  color: var(--brown40);
}

.badge2 {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--brown40);
  border-radius: 8px;
  color: var(--grayScale40);
}

.kebab {
  position: absolute;
  left: 660px;
}

.question {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.date {
  color: var(--grayScale40);
  font-size: 14px;
}

.title {
  color: var(--grayScale60);
  font-size: 18px;
}

.answer {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.answerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.answerContent {
  color: var(--grayScale60);
  font-size: 16px;
  align-self: stretch;
}

.answerModify {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--grayScale20);
}

.modifyDone {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  width: 560px;
  gap: 8px;
  color: var(--grayScale10);
  background-color: var(--brown40);
  border-radius: 8px;
}

.inputAnswer {
  font-size: 16px;
  display: flex;
  padding: 12px 24px;
  border-radius: 8px;
  width: 560px;
  height: 186px;
  overflow-y: hidden;
  resize: none;
  background-color: var(--grayScale20);
  border: 1px solid var(--brown40);
  outline: 1px solid var(--brown40);
}

.notModify {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  width: 560px;
  gap: 8px;
  color: var(--grayScale10);
  background-color: var(--brown30);
  border-radius: 8px;
}

.answerBottom {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.reactionFrame {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.reaction {
  display: flex;
  align-items: center;
  gap: 6px;
}
